body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf5;
  color: #333;
  line-height: 1.6;
}
header {
  background: linear-gradient(rgba(42, 145, 112, 0.5), rgba(42, 145, 112, 0.3)),
    url("https://images.unsplash.com/photo-1607082349566-1873467dd60e?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80")
      no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}
header h1 {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 0;
}
header p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
}
section {
  padding: 20px 40px;
  max-width: 1000px;
  margin: 0 auto;
}
section:nth-child(odd) {
  background-color: #f0ede9;
}

.text-block {
  margin-bottom: 40px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.content img {
  width: 30%;
  aspect-ratio: 1;
  border-radius: 10px;
}
.about-us .content img {
  margin-left: 60px;
}
.mission .content img {
  position: relative;
  left: 40px;
}
.history .content img {
  align-self: center;
  position: relative;
  left: 40px;
}
.media-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.media-block img,
.media-block video {
  width: 32%;
  border-radius: 10px;
  object-fit: cover;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card img {
  width: 100%;
  height: 230px;
  display: block;
}

.card h3 {
  margin: 16px 0 8px;
  font-size: 1.25rem;
  color: #333;
}

.card p {
  margin: 0 16px 16px;
  color: #666;
  font-size: 1rem;
}
.banner {
  display: flex;
  width: 100%;
  height: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 40px;
}
.banner img {
  width: 40%;
  height: 100%;
  border-radius: 12px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* text-align: center; */
}
.banner-content button {
  background-color: #7bcb29;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  margin-top: 48px;
}
.infographics {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  gap: 20px;
}
.infographics h2 {
  margin-top: 0;
  padding-top: 0;
}
.infographic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #fff;
  width: 32%;
  aspect-ratio: 1;
  box-sizing: border-box;
  background: #7bcb29 no-repeat center/cover;
  border-radius: 20px;
  background-size: 160px 160px;
}
.infographic-1 {
  background-image: url("leaf.png");
}
.infographic-2 {
  background-image: url("./recycle.png");
  background-size: 100px 100px;
}
.infographic-3 {
  background-image: url("./handmade.png");
}
.cta-buttons {
  /* width: 1000px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cta-buttons button {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #7bcb29;
  color: white;
  font-size: 18px;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cta-buttons button:hover {
  background-color: #6f987c;
}
.contact {
  background-color: #f7f5f3;
  padding: 40px 20px;
  border-top: 2px solid #e0dcd6;
}
.contact form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact button {
  background-color: #8db596;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.map {
  margin-top: 20px;
  text-align: center;
}
footer {
  background-color: #eae7e2;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #555;
}
#logo {
  position: relative;
  width: 100px;
  margin: 0;
  padding: 0;
}
